
.main {
  height: 300px;
}
#firm {
  height: 100px;
}
.text {
  height: 50px;
  border: 2px solid red;
}

.rate {
  font-size: 12px;

}
.underRate {
  font-size: 8px;
}

.lables {
  height: 35px;
}

.organisation {
  font-size: 12px;
}

@media (min-width: 768px) {
  .rate {
    font-size: 18px;
  }
  .underRate {
    font-size: 12px;
  }
  .organisation {
    font-size: 16px;
  }
}
